<div class="row painel">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>Painel Administrativo rePay</nb-card-header>
      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Email</label>
            <div class="col-sm-9">
              <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-3 form-control-label">Senha</label>
            <div class="col-sm-9">
              <input type="password" [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox">
                <nb-checkbox>Me lembrar</nb-checkbox>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" (click)="onSubmit()" class="btn btn-primary">Entrar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4"></div>
</div>
